.cont {
  position: relative;
  top: 50px;
}
.mainUserContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.userContainer {
  /* border: solid 1px; */
  background-color: #36454f;
  width: 40vw;
  height: 30vh;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  margin: auto;
  margin-top: 30px;
}
.userContainer > img {
  border-radius: 10px;
  width: 150px;
  height: auto;
  margin: auto;
}
.userContainer > div {
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin: auto;
}
.userContainer > div > div {
  padding: 10px;
}
.pageChange > button {
  height: 30px;
  font-size: 15px;
}
.pageChange :nth-child(1) {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
}
.pageChange :nth-child(2) {
  margin-left: 10px;
  margin-right: auto;
  margin-top: 10px;
}
.pageChange {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
button:hover {
  cursor: pointer;
}
