.booksImage {
height: 200px;
width: 150px !important;
margin: auto;}

button {
  font-size: 16px;
  padding: 1px 10px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 15px;
}
button:hover {
  cursor: pointer;
}
.antButton{
  margin: 5px;
  width: 9vw;
}