.cont {
  position: relative;
  top: 80px;
  left: 7vw;
}
.mainUserContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  position: relative;
  left: 9.5vw;
}
.userContainer {
  background-color: #36454f;
  width: 35vw;
  height: 30vh;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  margin: auto;
  margin-top: 30px;
}
.userContainer > div {
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin: auto;
}
.userContainer > div > div {
  padding: 10px;
}
.pageChange :nth-child(1) {
  margin-left: auto;
  margin-right: 10px;
}
.pageChange :nth-child(2) {
  margin-left: 10px;
  margin-right: auto;
}
.pageChange {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.userImage{
  border-radius: 10px;
  width: 150px;
  height: auto;
  margin: auto;
}